.back-btn {
  color: white;
  border: none;
  background-color: #4468b0;
  font-size: 30px;
  cursor: pointer;
}

.container img {
  width: 30%;
  display: flex;
  margin: 40px auto;
}

.container {
  margin-inline: 10rem;
  gap: 10rem;
}

.country-name-details,
.country-details-off {
  text-align: center;
}

.flex-container {
  padding: 10px;
  background-color: #4468b0;
  border-radius: 40px;
  color: white;
  border: 1px solid 4468b0;
}

.details-country {
  background-color: #355087;
  height: 8rem;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column-reverse;
}

.header {
  text-align: center;
  color: white;
  align-items: center;
}

.details-container {
  background-color: #355087;
}

.not-found {
  text-align: center;
  color: #355087;
}
