.loading,
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #355087;
  font-size: 24px;
}

.search {
  display: flex;
  padding: 20px;
  background-color: #355087;
  justify-content: space-evenly;
}

.countries-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: center;
  width: 100%;
}

.countries-container > :nth-child(even) {
  background-color: #4468b0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.countries-container > :nth-child(odd) {
  background-color: #355087;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-area {
  text-align: center;
  border: none;
  border-radius: 8px;
}

button {
  border: none;
  padding: 8px;
  border-radius: 8px;
  color: #4468b0;
}
